# Site settings
title: 2Cweekly
description: 2Cweekly is an independent blog.
lang: zh-CN
timezone: Asia/Shanghai
image: 
repo: https://github.com/andy660/andy660
mode: light

# Profile settings
author:
  name: Andy Lai
  bio: I am a freelance fashion writer based in Beijing, with over a decade of experience in the fashion industry as a former journalist. Currently, I am working as a project manager, with a focus on fashion communication and brand promotion.
  username: Andy Lai
  github: andy660
  email: andytaweekly@gmail.com
  avatar: /assets/img/avatar.jpg

# URL settings
url: "https://www.2cweekly.com"
baseurl:
permalink: /:slug.html

# SEO and Analytics
google_analytics: 413871271

# Collection setting
collections:
  posts:
    output: true

# Markdown settings
markdown: kramdown
highlighter: rouge
kramdown:
  syntax_highlighter: rouge
  input: GFM
  hard_wrap: false
  mermaid: false

# Default front matter
defaults:
  - scope:
      path: ""
    values:
      layout: post
      comments: false

# Jekyll Compose default front matter
jekyll_compose:
  post_default_front_matter:
    modified:
    tags: []
    description:
  draft_default_front_matter:
    modified:
    tags: []
    description:

# Homepage limit posts
number_of_posts: 5

# Build settings
sass:
  sass_dir: /assets/_sass
  style: compressed

# Files to exclude from the final site
exclude:
  - CNAME
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - .gitignore
  - .DS_Store
  - docker-compose.yml
  - node_modules
  - vendor

# Plugins
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-postfiles