---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "zh-CN" }}">
{% include header.html %}

<body data-theme="{{ site.mode }}" class="notransition">
  {% include navbar.html %}
  
  <div class="wrapper">
    <main aria-label="Content">
      <div class="not-found">
        <div class="container">
          <div class="title">404</div>
          <p class="phrase">😕 页面好像走丢了...</p>
          <p class="suggestion">你可以</p>
          <div class="actions">
            <a class="solution" href="{{ site.url }}">🏠 回首页</a>
            <span class="separator">·</span>
            <a class="solution" href="/archive/">📚 浏览所有文章</a>
          </div>
        </div>
      </div>
    </main>  
    {% include footer.html %}
  </div>
</body>
</html>